*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aquamarine;
    color: brown;
    text-align: center;
    font-size: 20px;
    height: 90px;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 10px;
}
nav ul li a{
    display: flex;
    margin: 10px;
    color: blueviolet;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    
}
main{
    background-color: aqua;
    width: 100%;
}
.row{
    display: flex;
   
    
    margin: 10px;
    height: 400px;
   
    padding: 10px;
    text-align: justify;
}
.col{
    background-color: rgb(179, 112, 112);
    margin: 5px;
    text-align: justify;
    padding: 5px;
}
h1,h2{
    text-align: center;
    padding: 20px;
}
footer{
    background-color: rgb(34, 29, 29);
    
    height: 100px;


}
footer p{
    text-align: center;
    margin: 20px;
    color: wheat;
    text-decoration: underline;
}
@media screen and (max-width:400px){
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    width: 400px;
    background-color: darkred;
    color: rgb(181, 223, 241);
    padding: 0px;
}
nav{
    width: 400px;
    background-color: crimson;
    margin: 0;
    padding: 0;
}
.row{
    background-color: blanchedalmond;
    width: 400px;
    height: 1200px;
    display: flex;
    flex-direction: column;
}
main{
    width: 400px;
}
.col{
    height: 600px;
    width: 350px;
    border: 3px solid black;
    margin-left: 23px;
}
}